@import 'src/assets/styles/variables.scss';

.addOption{
margin-left: 60px;

button{
    height: 50px;
    width: 150px;
    font-size: $font-size-20;
    background-color: $first-base-color;
    color: $grey-80;
    border: 1px solid $first-base-color;
    font-style: italic;
    font-weight: bold;
}

button:hover{
    background-color: $dark-orange;
    border: 1px solid $dark-orange;
}
}

.colorSettingList{
    
    .colorItem{
        display: flex;
        justify-content: space-between;
        background-color: $white;
        margin-left:60px;
        margin-top: 30px;
        margin-right: 60px;

    p{
        font-size: $font-size-20;
        margin-left: 10px;
        margin-top: 25px;
    }
}
    .color-action{
        display: flex;
        gap: 10px;
        margin: 25px;

        button{
            height: 30px;
            width: 80px;
            font-size: $font-size-20;
            background-color: $first-base-color;
            color: $grey-80;
            border: 1px solid $first-base-color;
            font-style: italic;
        }

        button:hover{
            background-color: $dark-orange;
            border: 1px solid $dark-orange;
        }
    }
}