*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.price-list .price{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.price input{
    height: 25px;
    width: 25px;
}

.price p{
    color: gray;
    font-size: 20px;

}

.price-list{
    padding: 20px;
    margin-left: 33px;
    background-color: white;
    width: 270px;
}