@import "src/assets/styles/variables.scss";

.content_box{

    .add_name_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        
    }
    .add_name_box input{
        height: 50px;
        width: 300px;
        font-size: 20px;
        padding: 10px;
        font-style: italic;
    }
}

.confirmButton{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 200px;

    .confirmBtn{
        width: 200px;
        height: 50px;
        font-weight: bold;
        color: $grey-80;
        font-size: $font-size-22;
        background-color: $first-base-color;
    }
    
    .confirmBtn:hover{
        background-color: $dark-orange;
    }
}