*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}

.product-list{
    background-color: white;
    width: 393px;
    margin-bottom: 50px;
}

.product-list img{
    height: 400px;
    width: 393px;
}

.product-list h5{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

.product-list p{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
}