@import 'src/assets/styles/variables.scss';

header{
    gap: 50px;
    padding: 20px 0;
    background-color: $grey-80;


.first {
    color: $first-base-color;
    font-size: $font-size-32;
    margin-right: 5px;
}

.second {
    color: $grey-80;
    background-color: $first-base-color;
    font-size: $font-size-32;
}

.links{
    ul{
        display: flex;
        gap: 20px;
        margin-left: 50px;
    }

    ul a{
        text-decoration: none;
        font-size: $font-size-20;
        color: $white;
        text-align: center;
    }

    li{
        list-style: none;
    }

    ul a:hover{
        color: $first-base-color;
    }

    .active{
        color: $first-base-color;
    }

}
}

