*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page{
    background-color:beige;
}

.home-photos{
    display: flex;
    gap: 25px;
    padding-top: 50px;
    justify-content: center;
}

.fashion{
    background-image: url("../../assets/images/man.jpg");
    background-repeat: no-repeat;
    background-size: 1000px;
    width: 1000px;
}

.fashion h2{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}

.fashion p{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 20px;
}

.shop-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.shop-button button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background-color: #323232;
}

.shop-button button:hover{
    border: 1px solid white;
    background-color: white;
    color: black;
}

.special-orders{
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.first-offer{
    background-image: url("../../assets/images/first.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    height: 200px;
    width: 600px;
}

.first-offer p{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

.click{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.click button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: black;
    background-color: #ffc107;
    border: 1px solid #ffc107;
}

.click button:hover{
    background-color: darkorange;
    border: 1px solid darkorange;
}

.second-offer{
    background-image: url("../../assets/images/second.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    height: 200px;
    width: 600px;
}

.second-offer p{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

.home-page h1{
    padding: 25px;
    margin-left: 5px;
    font-size: 45px;
    color: grey;
}

.specials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.first-special{
    background-image: url("../../assets/images/first.jpg");
    background-repeat: no-repeat;
    background-size: 795px;
    height: 400px;
    width: 795px;
}

.first-special p{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 40px;
}


.second-special{
    background-image: url("../../assets/images/second.jpg");
    background-repeat: no-repeat;
    background-size: 795px;
    height: 400px;
    width: 795px;
}

.second-special p{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 40px;
}