@import 'src/assets/styles/variables.scss';

.pageheader{
    background-color: $white;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: -60px;
    height: 60px;

    .logout-button{
    
    button{
        height: 60px;
        width: 150px;
        font-size: $font-size-20;
        background-color: $first-base-color;
        color: $grey-80;
        border: 1px solid $first-base-color;
        font-weight: bold;
        
    }

    button:hover{
        background-color: $dark-orange;
        border: 1px solid $dark-orange;
    }
    }

    .page-title{
    

        h1{
            
            font-size: $font-size-35;
            font-style: italic;
            color: $grey-80;
            margin-left: 10px;
        }
    }
}