@import 'src/assets/styles/variables.scss';

.admin-notifications{
    
    .message-titles{
        display: flex;
        justify-content: center;
        gap: 250px;
        margin-top: 50px;
        background-color: $white;
        margin-left: 60px;
        margin-right: 60px;
        
        p{
            height: 50px;
            font-size: $font-size-25;
            font-style: italic;
            text-align: center;
            padding-top: 5px;
            font-weight: bold;
            
        }

    }
    .message-description{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 250px;
        background-color: $white;
        margin-left: 60px;
        margin-right: 60px;
        border: 1px solid $grey-80;
        border-radius: 10px;

        p{
            height: 50px;
            font-size: $font-size-20;
            text-align: center;
            padding-top: 10px;
            
        }

        
    }
}