*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: gray;
}

.footer-contact-info img{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.footer-contact-info p{
    margin-top: 10px;
}

.footer{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.footer-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 50px;
    gap: 30px;
}

.footer-first h2{
    color: white;
    font-size: 30px;
}

.footer-first p{
    color: white;
    font-size: 20px;
    width: 350px;
}

.footer-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 50px;
    gap: 30px;
}

.footer-second h2{
    color: white;
    font-size: 30px;
}

.footer-second p{
    color: white;
    font-size: 20px;
    width: 350px;
}

.footer-input input{
    height: 50px;
    width: 250px;
    padding: 10px;
    color: darkgray;
    font-size: 20px;
}

.footer-button{
    height: 48px;
    width: 100px;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    font-size: 20px;
    color: grey;
}

.footer-button:hover{
    background-color: darkorange;
    border: 1px solid darkorange;
}

.footer-logo{
    display: flex;
    gap: 15px;
}

.footer-logo img{
    height: 50px;
    width: 50px;
}