@import "src/assets/styles/variables.scss";

.box{
    background-color: $grey-45;
.img-box{
    display: flex;
    justify-content: center;
    gap: 30px;

    img{
        margin-top: 40px;
        height: 500px;
        width: 500px;
    }

    .sizes div{
        display: flex;
        gap: 20px;
    }

    .colors div{
        display: flex;
        gap: 20px;
    }

    .text-box{
        margin-top: 40px;
        background-color: $white;
        width: 700px;
        

        h5{
            padding: 20px;
            font-size: $font-size-35;
        }

        .item-price{
            padding-top: 15px;
            padding-left: 20px;
            font-size: $font-size-30;
            font-weight: bold;
        }

        .text{
            padding-top: 15px;
            padding-left: 20px;
            font-size: $font-size-20;
            color: $grey-60;
        }
    }

    .box-buttons{
        display: flex;
        gap: 20px;
        padding-top: 15px;
        padding-left: 20px;

        .first-button{
            display: flex;

            button{
                background-color: $first-base-color;
                height: 50px;
                width: 50px;
                font-size: $font-size-35;
                font-weight: bold;
            }

            p{
                height: 50px;
                width: 50px;
                text-align: center;
                padding-top: 15px;
                font-size: $font-size-20;
                background-color: $grey-45;
            }
        }

        .second-button{
            button{
                height: 50px;
                width: 150px;
                background-color: $first-base-color;
                font-size: $font-size-20;
            }
        }

    }
}

.tabs{
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .component{
        background-color: $white;
        padding: 30px;
        margin-bottom: 30px;
        width: 70%;
        height: 500px;
    }
}
}