@import 'src/assets/styles/variables.scss';


.product_List{

.productItem{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin-left:60px;
    margin-top: 30px;
    margin-right: 60px;

    .image-test{
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .show-img{
        display: flex;
        gap: 15px;

    img{
        height: 80px;
        width: 80px;
    }

}

p{
    text-align: center;
    font-size: $font-size-20;
    margin-top: 30px;
}
    .product-action{
        display: flex;
        gap: 10px;
        margin: 30px;

        button{
            height: 30px;
            width: 80px;
            font-size: $font-size-20;
            background-color: $first-base-color;
            color: $grey-80;
            border: 1px solid $first-base-color;
            font-style: italic;
        }

        button:hover{
            background-color: $dark-orange;
            border: 1px solid $dark-orange;
        }
    }
}

}