*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category-img img{
    height: 150px;
    width: 150px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.category{
    justify-content: center;
    display: flex;
    width: 375px;
    gap: 15px;
    background-color: white;
}

.text{
    margin: 30px;
}

.text h5{
    font-size: 20px;
}

.text p{
    font-size: 20px;
    margin-top: 20px;
}