*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    background-color:beige;
}

.contact h1{
    padding: 30px;
    margin-left: 30px;
    font-size: 45px;
    color: grey;
}

.contact-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin: 60px;
    width: 700px;
    height: 786px;
    background-color: white;
}

.forms input{
    width: 600px;
    height: 50px;
    color: darkgray;
    font-size: 20px;
    padding: 10px;
    border: 1px solid darkgrey;
}

.forms textarea{
    width: 600px;
    height: 400px;
    color: darkgray;
    font-size: 20px;
    padding: 10px;
    border: 1px solid darkgrey;
}

.button-send{
    border: 1px solid #ffc107;
    height: 60px;
    width: 200px;
    background-color: #ffc107;
    font-size: 20px;
}

.button{
    margin-top: 15px;
}

.button:hover{
    background-color: darkorange;
    border: 1px solid darkorange;
}

.map{
    padding: 30px;
    margin: 60px;
    width: 700px;
    background-color: white;
}

.contact-info{
    width: 700px;
    padding: 30px;
    margin: 60px;
    background-color: white;
}

.contact-info img{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.contact-info p{
    font-size: 20px;
    margin-top: 10px;
    color: darkgray;
}

.location{
    display: flex;
    gap: 15px;
}

.phone{
    display: flex;
    gap: 15px;
}

.mail{
    display: flex;
    gap: 15px;
}